################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/target/sharepoint.search-0.0.1-SNAPSHOT.jar
